@model ToDoList.Models.ToDo


@{
    ViewData["Title"] = "What do I have to do now?";
}



<div id="tableDiv"></div>
<div id="toDoCreateForm">
    <form asp-action="AjaxCreate" asp-controller="ToDoes" method="POST" data-ajax="true" data-ajax-mode="" data-ajax-update="tableDiv">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </form>

</div>

@section Scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/BuildTable.js"></script>
}