@model ToDoList.Models.ToDo


@{
    ViewData["Title"] = "What do I have to do now?";
}


<h2>What do I have to do now?</h2>
<div id="tableDiv"></div>
<div>
    <form asp-controller="ToDoes" asp-action="AjaxCreate" method="POST" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#tableDiv" data-ajax-success="this.reset();">
        <input asp-for="Description" class="form-control" placeholder="type new to do here..."/>
    </form>

</div>

@section Scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/DeleteItems.js"></script>
    <script src="~/js/BuildTable.js"></script>

}